nav {
height: 120px;
width: 100%;
background-color: #4056A1;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5em;
}

/* Bungee as its default font-family*/
span {
  font-family: 'Bungee', cursive;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-transform: lowercase;
  padding: 1.5em;
}

.fas {
  color: #FF6347;
}


