nav {
height: 120px;
width: 100%;
background-color: #4056A1;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5em;
position: relative;
}

/* Bungee as its default font-family*/
.tweeter-logo {
  font-family: 'Bungee', cursive;
}

nav, span {
  font-family: "Source Sans Pro", sans-serif;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}


.fas {
  color: #FF6347;
}

/* Sticky navbar */

nav {
  position: fixed;
  top: 0;
  width: 100%;
}