.tweetContainer {
height: 400px;
width: 100%;
border: 3px solid #000000;
padding: 2.5% 1%;
border-radius: 5px;
margin-top: 3%;
}

.tweetContainer:hover {
box-shadow: 10px 10px #000000;
}

.icons i:hover {
  color: #000000;
}  

.avatar {
  display:flex;
  justify-content: space-between;
  color:#000000;
  font-weight: 600;
}

.bottomComponents {
  display:flex;
  justify-content: space-between;
}

.lineForBox {
  border-bottom: 3px solid #000000;
  margin-bottom: 1em;
}

.textInContainer {
  margin-bottom: 1em;
  color:#000000;
  font-weight: 600;
}

.daysCounter {
  color:#000000;
  font-weight: 600;
}
